:root{
  --clr-Red: hsl(0, 100%, 74%);
  --clr-Green: hsl(154, 59%, 51%);
  --clr-white:hsl(0, 0%, 100%);

  --clr-Blue: hsl(248, 32%, 49%);

  --clr-DarkBlue: hsl(249, 10%, 26%);
  --clr-GrayishBlue: hsl(246, 25%, 77%);

  --ff-base: "Poppins", sans-serif;
  
  --fs-base: 1rem;

  --fw-small: 400;
  --fw-medium: 500;
  --fw-large: 600;
  --fw-extralarge: 700;
}


body{
  display: grid;
  place-content: center;
  background-color: var(--clr-Red);
  background-image: url("../images/bg-intro-desktop.png");
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  color: var(--clr-white);

}

.main-container{
  display: flex;
  max-width: 1110px;
  margin: 1rem; 
}

.publicity-section{
  display: flex;
  flex-direction: column;
  flex:1 ;  
  place-content: center;  
}

.main-title{
  font-weight: var(--fw-extralarge);
  font-size: 3.063rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}


.form-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  gap: 1rem;
}

.form-div{  
  background-color: var(--clr-white);
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.20);
}

.subscription-price{
  background-color: var(--clr-Blue); 
  padding: 1rem;
  border-radius: 0.50rem;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.20);
}

.try-free{
  font-weight: var(--fw-extralarge);  
}

.mon-price{
  font-weight: var(--fw-small);
  color: var(--clr-GrayishBlue);
}

.main-form{
  display: grid;
  gap: 1rem;
}

.input{
  padding: 1rem;
  font-size: 0.75rem;
  font-weight: var(--fw-medium);
  border: 1px solid var(--clr-GrayishBlue);
  border-radius: 0.25rem;
}

.input:focus{
  outline: none;
  border: 1px solid var(--clr-Blue);
}

.error-icon{
  background-image: url(../images/icon-error.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 95%;
}

.error-message{
  color: var(--clr-Red);
  font-size: 12px;
  font-weight: var(--fw-large);
  font-style: italic;
  text-align: right;
  margin-top: -10px;
}

.hidden{
 display: none;
}

.submit-button{
  background-color: var(--clr-Green);
  border: none;
  padding: 1rem;
  text-transform: uppercase;
  color: var(--clr-white);
  border-radius: 0.25rem;
  cursor: pointer;
}

.submit-button:hover{
  filter: brightness(110%);
}

.agree-term-and-serv{
  color: var(--clr-GrayishBlue);
  font-size: 12px;
  margin-top: 1rem;
}

.term-and-serv-link{  
  text-decoration: none;
  color: var(--clr-Red);
  font-weight: var(--fw-large);
}

.attribution{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: var(--clr-GrayishBlue);
  font-size: 14px;
  padding: 0.25rem;
}


@media (max-width: 425px) {

  body{
   place-content:initial;
   place-items: center;
   background-image: url("../images/bg-intro-mobile.png");
  }

 .main-container{
  display: flex;
  flex-direction: column;
  width: 365px;
  text-align: center;
 }

 .publicity-section{  
  flex:none ;
  margin-bottom: 3rem;
}
 .main-title{
  font-weight: var(--fw-large);
  font-size: 2rem;
  margin-top: 1.5rem;
}

.form-section{
  flex:none;
  margin-bottom: 3rem;
}

 .attribution{
  position: fixed;  
  font-size: 10px;
}
}


